* {
    font-family: Arial, Helvetica, sans-serif;
}

#vip {
    height: 100px;
    width: 100px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#square {
    height: 25px;
    width: 25px;
    border: solid 1px black;
    background-color: seagreen;
    margin: 10px;
}

li {
    list-style: none;
    margin: 1rem;
    height: 50px;
    border: solid 1px black;
    background-color: linen;
    color: black;
    display: flex;
    align-items: center;
    padding: 0.5rem
}

.vip {
    background-color: seagreen;
    color: white;
}

#form-container {
    display: flex;
    justify-content: center;
    background-color: linen;
    border: solid black 1px;
    height: 200px;
    margin: 1rem 30% 1rem 30%;

}
form {
    display: flex;
    flex-direction: column;
    width: 75%;
}
input {
    height:2rem;
    margin:0.5rem;
}